# Disable all default warnings, then enable only the ones we want to check for.
Checks: '-*,
fuchsia-default-arguments-declarations,
performance-*,
'
WarningsAsErrors: '*'

# clang-tidy's regex doesn't support negative lookahead, so we have to list all the places to
# check rather than "not 3rdparty" -_-
HeaderFilterRegex: 'dorado/(alignment|api|basecall|cli|compat|correct|data_loader|demux|devtools|file_info|hts_io|modbase|model_downloader|models|polish|poly_tail|read_pipeline|splitter|summary|torch_utils|utils)'
# When llvm-19 becomes available we might be able to switch to the following, though in testing
# it seems like this skips some of our headers.
# ExcludeHeaderFilterRegex: '3rdparty'

CheckOptions:
  - key:    performance-move-const-arg.CheckTriviallyCopyableMove
    value:  0
