*~
build
.vscode
dorado/3rdparty/cuda11.3
dorado/3rdparty/hdf5-1.12.*
dorado/3rdparty/openssl-win
dorado/3rdparty/torch-*
dorado/3rdparty/mkr-*
dorado/3rdparty/vbz_plugin
dorado/3rdparty/metal-cpp
dorado/3rdparty/koi_lib
dorado/3rdparty/zlib-1.2.*
cmake-build*
cmake.lock
.idea/
.DS_Store
