*~
.DS_Store
.idea/
.vs
.vscode
*.qdrep
dist
build
build-*
archive
cmake-build*
cmake.lock
CMakeSettings.json
_CPack_Packages
tests/test_output
.temp_dorado_model-*
temp
venv
tests/test_output*
log*
*.t.err
out*
Makefile
/models
